@using Modelos;
@using Modelos.Acceso;
@{
    List<Roles> roles = (List<Roles>)ViewData["roles"];
    List<Fiscalias> fiscalias = (List<Fiscalias>)ViewData["fiscalias"];
}



<div class="container  mx-auto">



    <div class="w-1/2  mx-auto bg-gray-200 mt-9   shadow-md sm:rounded-lg">
        <form id="registro" name="registro" action="javascript:Create()" class="mb-10 px-4">
            <h1 class="text-center text-2xl font-bold my-4 text-yellow-600">Nuevo Usuario</h1>
            <div class="pt-5">
                <div class="grid grid-cols-12">
                    <div class="col-span-12">
                        <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900">Nombre (s)</label>
                        <input type="text" id="nombre" name="nombre" class="bg-gray-50 border border-yellow-600 text-gray-900 text-sm rounded-lg  block w-full p-2.5" required>
                    </div>
                </div>

                <div class="grid grid-cols-12 mt-4">
                    <div class="col-span-6 pr-4">
                        <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Apellido Paterno</label>
                        <input type="text" id="apellidoPaterno" name="apellidoPaterno" class="bg-gray-50 border border-yellow-600 text-gray-900 text-sm rounded-lg  block w-full p-2.5" required>
                    </div>

                    <div class="col-span-6">
                        <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Apellido Materno</label>
                        <input type="text" name="apellidoMaterno" class="bg-gray-50 border border-yellow-600 text-gray-900 text-sm rounded-lg  block w-full p-2.5" required>
                    </div>
                </div>


                <div class="grid grid-cols-12 mt-4">
                    <div class="col-span-12">
                        <label for="" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Correo Electronico</label>
                        <input type="email" name="correo" class="bg-gray-50 border border-yellow-600 text-gray-900 text-sm rounded-lg  block w-full p-2.5" required>
                    </div>
                </div>

                <div class="grid grid-cols-12 mt-4">
                    <div class="col-span-4 ">
                        <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Rol</label>
                        <select class="bg-gray-50 border border-yellow-600 text-gray-900 text-sm rounded-lg  block w-full p-2.5" asp-items="@(new SelectList(roles,nameof(Roles.Id),nameof(Roles.Nombre)))" name="rol" id="rol">
                            <option value=""></option>
                        </select>
                    </div>

                    <div class="col-span-4 ml-4">
                        <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fiscalia</label>
                        <select class="bg-gray-50 border border-yellow-600 text-gray-900 text-sm rounded-lg  block w-full p-2.5" asp-items="@(new SelectList(fiscalias,nameof(Fiscalias.Id),nameof(Fiscalias.Nombre)))" name="fiscalia" id="fiscalia" required disabled>
                            <option value=""></option>
                        </select>
                    </div>

                    <div class="col-span-4 ml-4">
                        <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Unidad</label>
                        <select class="bg-gray-50 border border-yellow-600 text-gray-900 text-sm rounded-lg  block w-full p-2.5"  name="unidad" id="unidad" required disabled>
                            <option value=""></option>
                        </select>
                    </div>
                </div>

                <div class="grid grid-cols-12 mt-4">
                    <div class="col-span-12">
                        <label for="" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contraseña</label>
                        <input type="text" id="password" name="password" class="bg-gray-50 border border-yellow-600 text-gray-900 text-sm rounded-lg  block w-full p-2.5" required>
                    </div>
                </div>



                <div class="mt-4">
                    <div class="flex items-center">
                        <button type="submit" class="rounded rounded-lg mx-auto text-white bg-yellow-600 hover:bg-yellow-600 focus:outline-none focus:ring-4 focus:ring-yellow-300 font-medium  text-sm px-5 py-2.5 text-center mr-2 mb-2">Crear Usuario</button>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>


<script>
    $(document).ready(function () {

        var name, paterno = '';
        var currentTime = new Date()
        var complemento = currentTime.getDate() + '' + 'FGE!';

        $("#nombre").keyup(function () {
            $("#password").val('');
            name = $("#nombre").val().split(' ');
            name = name[0].charAt(0).toUpperCase() + name[0].slice(1);
            $("#password").val(name + '#' + complemento);
        });

        $("#apellidoPaterno").keyup(function () {
            $("#password").val('');
            paterno = $("#apellidoPaterno").val().split(' ');
            paterno = paterno[0].charAt(0).toUpperCase() + paterno[0].slice(1);
            $("#password").val(name + '.' + paterno + '#' + complemento);
        });

        $("#rol").change(function () {
            $("#fiscalia").prop('disabled', true);
            $("#unidad").prop('disabled', true);

            var value = $(this).val();

            if (value == "6f1be536-c224-4f31-914e-c9d00cce1eb9" || value == "aec4592c-fe97-47d0-97d2-1933fd2da4b9") { // Agente de Ministerio Publico o Titular de Unidad
                $("#fiscalia").prop('disabled', false);
                $("#unidad").prop('disabled', false);
            } else if (value == "49ecfee1-61f3-4e38-a28a-fe74c1bcb02c") { // Admin Fiscalia Especializada
                $("#fiscalia").prop('disabled', false);
            }

            console.log(value);


        });

        $("#fiscalia").change(function () {

            $("#unidad").empty();
            var id = $(this).val();
            $.ajax({
                type: 'GET',
                url: '/Usuarios/GetUnidades?idFiscalia='+id,
                data: $("#registro").serialize(),
                success: function (data) {
                    $.each(data, function (i, unidad) {
                        $("#unidad").append($('<option>', {
                            value: unidad.id,
                            text: unidad.nombre
                        }));
                    });
                }
            });
        });
    });


    function Create() {

        $.ajax({
            type: 'POST',
            url: '/Usuarios/Create',
            data: $("#registro").serialize(),
            success: function (data) {
                if (data == '1' || data == '2') {
                    alert("Usuario Creado Correctamente");
                    $("#registro")[0].reset();
                }
            }
        });

    }

</script>