

<div class="container mx-auto">


    <div>
        <div  class="mt-20 flex items-center justify-center p-10 border border-gray-200 rounded-lg shadow-md bg-gray-100">
            <div class="text-center">
                <p class="pb-10 text-2xl font-bold tracking-wide">Bienvenidos</p>
                <p class="text-2xl font-bold tracking-wide text-yellow-600">Sistema de Denuncias de Niños, Niñas y Adolescentes</p>
                <img class="w-1/2 mx-auto pt-10" src="~/img/Logotipo_institucional_500.png" alt="Alternate Text" />
            </div>
        </div>
    </div>
</div>